@charset "UTF-8";
@import url("BeautyDemo/stylesheet.css");
@import url("Avoda_Free_Trial/stylesheet.css");
body {
	    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;

}



nav   {
    text-align: center;
    list-style-type: none;
}
.pushback {
    z-index: -10;
}
ul  {
    list-style-type: none;
    background-color: #1C2536;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
li {
    display: inline;
    color: #FFF3E7;
    padding-right: 114px;
    padding-left: 114px;
}
h1 {
    margin-top: 29px;
    text-align: center;
    font-family: "Avoda Free Trial";
    font-size: 73px;
    padding-top: 20px;
}
.corporate {
    margin-top: 100px;
}
h2 {
    text-align: center;
    font-family: "Avoda Free Trial";
    font-size: 60px;
}

footer h4  {
    text-align: center;
    background-color: #1C2536;
    color: #FFF3E7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -15px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.reception {
    margin-left: -35px;
}
.history {
    margin-left: -35px;
}
.corporate {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 70px;
}
.principles {
    margin-right: -80px;
    padding-left: 50px;
    padding-right: 20px;
}
input {
    margin-left: 73px;
    border-radius: 30px;
    width: 247px;
    height: 39px;
    background-color: #1C2536;
    color: #FCFCFC;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
#explorelist {
    display: none;
    background-color: #FF6464;
}
#explore {
    display: inline-block;
}
a {
    color: #fff3e5;
}
a:visited {
    color: #BAC7FF;
}
a:hover {
    color: #FFAD96;
}
.container-fluid.container-xl p {
    text-align: left;
}
.head {
    margin-top: -6px;
}
p {
    line-height: 2;
    font-size: 18px;
}
.credit {
    color: #777777;
    font-size: 16px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}
.link2 {
    color: #000D4E;
}
.link2:hover {
    color: #F38A47;
}
.link2:visited {
    color: #4A005F;
}
h4 {
    font-size: 18px;
    line-height: 2;
}
.link3 {
    color: #5868FF;
}
.link3:hover {
    color: #0043C7;
}

@media (max-width: 940px){
h4 {
    font-size: 16px;
}
}

@media (max-width: 843px){
h4 {
    font-size: 15px;
}
h2 {
    font-size: 45px;
}
}

@media (max-width: 794px){
h4 {
    font-size: 14px;
}
h1 {
    font-size: 40px;
}
}

@media (max-width: 745px){
h4 {
    font-size: 13px;
}
h1 {
    font-size: 35px;
}
}

@media (max-width: 697px){
h4 {
    font-size: 12px;
}
h1 {
    font-size: 30px;
}
}

@media (max-width: 648px){
h4 {
    font-size: 10px;
}
}

@media (max-width: 611px){
h4 {
    font-size: 0;
}
h1 {
    font-size: 0px;
}
}

@media (max-width: 651px){
h1 {
    font-size: 40px;
    padding-bottom: 0px;
    padding-right: 35px;
}
}

@media (max-width: 631px){
h1 {
    font-size: 35px;
}
}
